<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Sistema de Gesti&oacuten de Naves Marcianas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sigemapp/style.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Naves Nodrizas
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'sigemapp:listar_nn' %}">Listar naves nodrizas</a>
                <a href="{% url 'sigemapp:crear_nn' %}">Crear naves nodrizas</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Aeronaves
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'sigemapp:listar_aeronaves' %}">Listar aeronaves</a>
                <a href="{% url 'sigemapp:crear_aeronave' %}">Crear aeronaves</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Pasajeros
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Revisiones
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>